<config>
    <modules>
        <Ainstainer_Homepage>
            <version>0.6.0</version>
        </Ainstainer_Homepage>
    </modules>
    <global>
        <models>
            <ainstainer>
                <class>Ainstainer_Homepage_Model</class>
                <resourceModel>banner_resource</resourceModel>
            </ainstainer>
            <banner_resource>
                <class>Ainstainer_Homepage_Model_Resource</class>
                <entities>
                    <banner>
                        <table>homepage_banner</table>
                    </banner>
                </entities>
            </banner_resource>
        </models>
        <resources>
            <banner_setup>
                <setup>
                    <module>Ainstainer_Homepage</module>
                </setup>
            </banner_setup>
        </resources>
        <blocks>
            <ainstainer_homepage>
                <class>Ainstainer_Homepage_Block</class>
            </ainstainer_homepage>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <ainstainer_homepage>
                    <file>ainstainer/homepage.xml</file>
                </ainstainer_homepage>
            </updates>
        </layout>
    </frontend>
</config>
