<config>
    <modules>
        <Ainstainer_Contacts>
            <version>0.6.0</version>
        </Ainstainer_Contacts>
    </modules>
    <global>
        <helpers>
            <ainstainer_contacts>
                <class>Ainstainer_Contacts_Helper</class>
            </ainstainer_contacts>
        </helpers>
        <helpers>
            <contacts>
                <rewrite>
                    <data>Ainstainer_Contacts_Helper_Data</data>
                </rewrite>
            </contacts>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ainstainer_contacts>
                <use>standard</use>
                <args>
                    <module>Ainstainer_Contacts</module>
                    <frontName>ainstainer</frontName>
                </args>
            </ainstainer_contacts>
        </routers>
        <layout>
            <updates>
                <ainstainer_contacts>
                    <file>ainstainer/contacts.xml</file>
                </ainstainer_contacts>
            </updates>
        </layout>
    </frontend>
</config>
